<% provide(:title, 'About Us') %>
<h1>About The Project</h1>
<h2>William Shakespeare is a world famous writer, but what does he mean to you in your life?
  Post anything you saw, you heared, you read, you watched,you remembered, you hated,you loved,you did,you imagined...</h2>
<p>
  The designer of the website hopes that this place can be an active community for people to share their thoughts and experience about Shakespeare in different ways.
  It's the designer's best wish that people under different cultures and from different places can communicate with
  those who may live on the other side of the world and can learn about their feelings and impressions of William Shakespeare.
</p>